.header {
  background-image: url("../../assets/header-bg.svg");
  background-repeat: no-repeat;
  min-height: 576px;
  background-position: center;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(196, 196, 196, 1%);
  padding: 0 108px;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
}
.header__title {
  color: #fff;
  font-family: "Roboto Slab Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding: 30px 0 26px 0;
  margin: 0;
}
.header__title-link {
  color: #fff;
  text-decoration: none;
}

.header_saved-news {
  background-image: none;
  background-color: #fff;
  min-height: auto;
}
.header_saved-news .header__logo {
  border-bottom: 1px solid #d1d2d6;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
}
.header_saved-news .header__title-link {
  color: #1a1b22;
}
.header_saved-news .header__nav-link {
  color: #1a1b22;
}
.header_saved-news .header__nav-link.active {
  border-bottom: 3px solid #000000;
  color: #000000;
}
.header_saved-news .header__auth-button {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}
