.news-card {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: #f5f6f7;
  padding: 80px 0 80px 104px;
}
.news-card__section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.news-card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.news-card__link {
  text-decoration: none;
  color: #1a1b22;
}
.news-card__title {
  font-family: "Roboto Slab Regular";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 0;
  align-self: flex-start;
}
.news-card__list {
  width: 400px;
  border-radius: 16px;
  background-color: #fff;
}
.news-card__content {
  padding: 24px;
}
.news-card__image-placeholder {
  position: relative;
}
.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.news-card__image {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 272px;
}
.news-card__bookmark {
  background: url("../../assets/bookmark.svg") no-repeat center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.news-card__bookmark:hover {
  background: url("../../assets/bookmark-hover.svg") no-repeat center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.news-card__bookmark-active,
.news-card__bookmark-active:hover {
  background: url("../../assets/bookmark-highlight.svg") no-repeat center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  cursor: default;
  border: none;
}
.news-card__delete-bookmark {
  background: url("../../assets/delete.svg") no-repeat center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.news-card__delete-bookmark:hover {
  background: url("../../assets/delete-highlight.svg") no-repeat center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.news-card__bookmark-tooltip {
  position: absolute;
  top: 22px;
  right: 70px;
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
}
.news-card__bookmark-wrapper:hover .news-card__bookmark-tooltip {
  visibility: visible;
  opacity: 1;
}
.news-card__title {
  font-family: "Roboto Slab Regular";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin: 12px 0 14px 0;
  color: #1a1b22;
}
.news-card__date {
  font-family: "Roboto Slab Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 16px 8px 0;
  color: #b6bcbf;
}
.news-card__description {
  font-family: "Roboto Slab Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 18px 0;
}
.news-card__source {
  font-family: "Roboto Slab Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 16px 0 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
.news-card__save-button {
  width: 288px;
  border-radius: 80px;
  padding: 20px 95px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Roboto Slab Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: auto;
}
.news-card__save-button:hover {
  background-color: #e8e8e8;
}
